// colors
$title-black: #0d0d0d;
$title-dark-grey: #323232;
$description-gray: #666;
$content-background-light: #61c4d9;
$content-background-dark: #00accf;
$overlay: #2f3234;
$white: #fff;
$black: #000;
$green-dark: #0f5a47;

//colors why-chocco
$why-chocco-light-grey: #f2f5f4;

//product
$product__black: #333333;

//feedback
$feedback-background-white: #f8faf9;

//team
$color-team-position: #281e1e;

//footer
$black-footer: #010101;

//normalize
@import "_misc/normalize.scss";

// setups
// @import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/media";
@import "_misc/layout";

// blocks
@import "blocks/btn";
@import "blocks/btn-hamburger";
@import "blocks/wrapper";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/phone";
@import "blocks/pagination";
@import "blocks/promo";
@import "blocks/advantage";
@import "blocks/about-us";
@import "blocks/product";
@import "blocks/ingredients";
@import "blocks/why-chocco";
@import "blocks/team";
@import "blocks/menu";
@import "blocks/menu-accordion";
@import "blocks/reviews";
@import "blocks/feedback";
@import "blocks/order";
@import "blocks/order-form";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/social";



