.about-us{
  background: url('../img/bg/about-us__sheet.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-color: $white;
  &::after{
    content: '';
    background: url('/img/bg/raspberry.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    bottom: -11rem;
    width: 161px;
    height: 315px;
  }
}

.about-us__container{
  width: 100%;
}

.about-us__titles{
  margin: 5.7rem 0;
}

.about-us__description{
  margin-top: 1rem;
}
