.btn{
  font-size: 1.9rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $white;
  margin-top: 3rem;
  padding: 1.85rem 3.45rem;
  border-radius: 2.8rem;
  background-color: $green-dark;
  border: none;
  box-shadow: 0px 8px 30px -18px rgba(0, 0, 0, 0.6);

  &--color{
    &--green{
      color: $green-dark
    }
  }
  &--bg-color{
    &--white{
      background-color: $white;
    }
  }
}