.header{
  position: absolute;
  width: 100%;
  padding-top: 2.4rem;
  z-index: 1;
  @include tablets{
    .nav, .phone{
      display: none;
    }
  }
  @include phones{
    .nav, .phone{
      display: none;
    }
  }
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
