.reviews{
  &::after{
    content: '';
    background: url('./../img/bg/reviews-sheet-berries.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    bottom: -13rem;
    width: 139px;
    height: 321px;
  }
  &::before{
    content: '';
    background: url('./../img/bg/berry.png');
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 3.6rem;
    right: 1.4rem;
    width: 150px;
    height: 86px;
  }
}

.reviews__container{
  @include tablets{
    padding: 0 13%;
  }
  @include phones{
    padding: 0;
  }
}

.reviews__title{
  margin-bottom: 3.5rem;

  @include tablets{
    margin-bottom: 8.4rem;
  }
  @include phones{
    margin-bottom: 5.5rem;
  }
}


.reviews__list{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  @include tablets{
    margin-top: 6rem;
  }
}

.reviews__item{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  &--active{
    border: 0.6rem solid #0f5a47;
  }
  &:last-child{
    margin-right: 0;
  }

  @include tablets{
    width: 10rem;
    height: 10rem;
    margin-right: 3rem;
  }
  @include phones{
    width: 9rem;
    height: 9rem;
  }
}

.reviews__photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}