.header{
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 2.4rem;
  z-index: 3;
  @include tablets{
    .phone{
      display: none;
    }
    .header__hamburger{
      display: block;
    }
  }
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablets{
    position: relative;
  }
}
.header__hamburger{
  display: none;
}
