.menu{
  background-color: rgba(0, 0, 0 , 0.2);
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./img/bg/bg-menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.menu__title{
  position: absolute;
  top: 9.3rem;
  left: 6rem;
  @include phones{
    left: 2rem;
  }
}