.team{
  background: url('./img/bg/team-sheet.png');
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  &::before{
    content: '';
    width: 13.5rem;
    height: 11.2rem;
    position: absolute;
    top: -3.8rem;
    right: 2rem;
    background: url('./img/bg/team-blueberry.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &::after{
    content: '';
    width: 10.4rem;
    height: 11.4rem;
    position: absolute;
    bottom: -4.4rem;
    left: 2.2rem;
    background: url('./img/bg/team-raspberry.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }
  @media screen and (max-width: 320px){
    &::before{      
      top: -4.8rem;
      right: -8rem;
    }
    &::after{
      left: -2.8rem;
    }
  }
}

.team__container{
  @include tablets{
    flex-wrap: wrap;
    width: 62.3%;
  }
  @include phones{
    width: 77.3%;
  }
  @media screen and (max-width: 320px){
    width: 87%;
  }
}

.team__list{
  display: flex;
  justify-content: space-between;
  margin-top: 5.8rem;

  @include tablets{
    flex-wrap: wrap;
    margin-top: 4.3rem;
  }
  @include phones{

  }
}

.team__item{
  width: 24%;
  height: 28.8rem;
  text-align: center;
  transition: 0.35s;
  position: relative;
  
  &--active{
    .team__name{
      &::after{
        border-top: none;
        border-bottom: 6.5px solid $green-dark;
      }
    }
    .team__info{
      opacity: 1;
      top: 2rem;
    }
  }

  @include tablets{
    width: 47.4%;
    height: 49%;
    margin-bottom: 3rem;
  }
  @include phones{
    width: 46%;
    margin-bottom: 5rem;
  }
  // @media screen and (max-width: 320px){
  //   margin-bottom: 4rem;
  // }
}

.team__photo{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  margin-bottom: 1.7rem;
  transition: height 0.35s;

  @include tablets{
    height: 32rem;
  }
  @include phones{
    height: 23rem;
  }
  @media screen and (max-width: 320px){
    height: 19rem;
  }
}

.team__wrap{
  position: relative;
}

.team__name{
  display: block;
  font-size: 2.1rem;
  position: relative;
  z-index: 1;
  &::after{
    content: '';
    position: absolute;
    top: 41%;
    margin-left: 0.5rem;
    width: 0; 
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 6.5px solid $green-dark;
  }
}

.team__info{
  margin-top: 0.9rem;
  position: absolute;
  top: 3.5rem;
  opacity: 0;
  transition: .5s;
  @include tablets{
    // bottom: -8rem;
  }
}

.team__description{
  margin-top: 0.4rem;
}

