@font-face{
  font-family: "Alegreya Sans";
  src: url('../fonts/AlegreyaSans-Light.ttf');
  font-weight: 300;
}
@font-face{
  font-family: "Alegreya Sans";
  src: url('../fonts/AlegreyaSans-Regular.ttf');
  font-weight: 400;
}
@font-face{
  font-family: "Alegreya Sans";
  src: url('../fonts/AlegreyaSans-Medium.ttf');
  font-weight: 500;
}
@font-face{
  font-family: "Alegreya Sans";
  src: url('../fonts/AlegreyaSans-ExtraBold.ttf');
  font-weight: 900;
}
@font-face{
  font-family: "Alegreya Sans";
  src: url('../fonts/AlegreyaSans-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: "MuseoSans";
  src: url('../fonts/MuseoSansCyrl-500.ttf');
}