html{
  font-size: 10px;
  @include tablets{
    font-size: 9px;
  }
  @include phones{
    font-size: 8px;
  }
}

body {
  height: 100%;
}

body {
  position: relative;
  font-family: "Alegreya Sans", sans-serif; //@include ubuntu();
}
.no-scroll{
  overflow: hidden;
}

.section {
  height: 100vh;
  min-height: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include tablets{
    min-height: 100rem;
  }
  @include phones{
    min-height: 93.75rem //87.5rem;
  }
}

.container {
  width: 95%;
  max-width: 94rem;
  margin: 0 auto;
}

.title{
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: $title-black;

  &--color{
    &--white{
      color: $white;
    }
    &--dark-grey{
      color: $title-dark-grey;
    }
    &--green-dark{
      color: $green-dark;
    }
  }
  &--weight{
    &--medium{
      font-weight: 500;
    }
  }
  &--centered {
    text-align: center;
  }
  &--transform{
    &--none{
      text-transform: none;
    }
  }
}

.description{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  color: $description-gray;
  
  &--color{
    &--white{
      color: $white;
    }
    &--black{
      color: $color-team-position;
    }
    &--green{
      color: $green-dark;
    }
  }
  &--weight{
    &--light{
      font-weight: 300;
    }
    &--medium{
      font-weight: 500;
    }
  }
  &--centered {
    text-align: center;
  }
}
// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;

  & > li {
    list-style: none;
  }
}

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  outline: none;
}

img, svg{
  max-width: 100%;
  min-height: 100%;
}